@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    transition: all 0.35s ease-in-out;
}

:root {
    --first-color: #dd127f;
    --second-color: #8b0046;
    --white-color: #fff;
    --text-color: #424247;
    --bg-color: #10c9c3;
    --color_1: black;
    --background_color_1: #000;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

.custom-btn {
    display: inline-block;
    /* background: #fff; */
    background: var(--white-color);
    outline: none;
    padding: 14px 35px;
    font-size: 13px;
    min-width: 210px;
    border-radius: 0;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    transition: all 0.5s ease;
}

.custom-btn:hover {
    background: var(--first-color);
    color: var(--white-color);
}

/* Header CSS */
.page-wrapper {
    width: 100%;
    height: auto;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: gradbar 10s ease infinite;
    -moz-animation: gradbar 10s ease infinite;
    animation: gradbar 10s ease infinite;
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.logo {
    /* background: -webkit-linear-gradient(45deg, var(--second-color), #E73C7E 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: var(--text-color);
}

.logo h4 {
    font-weight: 500;
    font-size: 25px;
}

.hamburger {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
}

.bar {
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background: var(--text-color);
    position: absolute;
    top: 50%;
    right: 5px;
    transition: .5s ease-in-out;
}

.bar:first-child {
    transform: translateY(-7px);
    width: 18px;
}

.bar:last-child {
    transform: translateY(7px);
    width: 18px;
}

/* // .hamburger.active {
//     transform: rotate(180deg);
// } */

.hamburger.active .bar:first-child {
    width: 20px;
    transform: translateY(0) rotate(-315deg);
}

.hamburger.active .bar:nth-child(2) {
    transform: translateX(66px);
}

.hamburger.active .bar:last-child {
    width: 20px;
    transform: translateY(0) rotate(315deg);
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: white;
    /* box-shadow: 0 0px 18px #0000000d; */
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 99;

    &>a {
        color: black;
        text-decoration: none;
    }
}

.nav-link {
    display: flex;
    position: relative;
    align-items: center;
}

.nav-link a {
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
    /* text-transform: uppercase; */
    font-weight: 500;
    transition: all .3s ease;
    color: #000;
}

.nav-link a:hover {
    color: var(--first-color);
}

.nav-link a:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--first-color);
    transition: width 0.28s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.nav-link a:hover:after {
    width: 2em;
}

.layer-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 88;
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-link {
        position: absolute;
        flex-direction: column;
        top: 54px;
        left: 0;
        width: 100%;
        height: 0px;
        background: #ffffff;
        z-index: 100;
        border-bottom: 1px solid #e7e7e7;
        overflow: hidden;
        transition: .5s ease-in-out;
        align-items: flex-start;
        padding-left: 18px;
        padding-top: 25px;

        a {
            width: 100%;
            margin-bottom: 15px;
            border-radius: 8px;

            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
}

/* Header CSS */

/* Banner CSS */
.banner {
    position: relative;
    background: url('../images/bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.banner h1 {
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 600;
}

.banner-title {
    position: relative;
    max-width: 535px;
    line-height: 28px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 18px;
}

/* Banner CSS */

/* About CSS */
.about-me {
    padding: 80px 0;
    position: relative;
}

.about-me .about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me .about-title {
    text-align: center;
    max-width: 650px;
}

.about-title h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 15px;
    letter-spacing: 0.3px;
}

.profesion-skill h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
}

.about-title p {
    line-height: 25px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 15px;
}

.profesion-skill {
    position: relative;
    background: url('../images/bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    padding: 100px 0;
}

.profesion-skill p {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.profesion-skill .bar {
    width: 50%;
    position: relative;
    background-color: #d8d8d8;
    height: 3px;
    margin: 0 0 20px 0;
}

.bar-fill {
    position: absolute;
    height: 3px;
}

.bar-title {
    position: relative;
    font-size: 1em;
    text-align: left;
    margin: 0 0 5px 0;
}

.percent {
    position: absolute;
    left: 118px;
}

.bar_2 .percent {
    left: 170px;
}

.bar_3 .percent {
    left: 85px;
}

.bar-fill-html {
    width: 75%;
    background-color: #10c9c3;
    animation: bar-fill-html 2s ease-out;
    -moz-animation: bar-fill-html 2s ease-out;
    -webkit-animation: bar-fill-html 2s ease-out;
}

.bar_1,
.bar_2,
.bar_3 {
    margin-bottom: 40px;
}

@keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-moz-keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

/*Edit here for Javascript*/
.bar-fill-javascript {
    width: 90%;
    background-color: #10c9c3;
    animation: bar-fill-javascript 2s ease-out;
    -moz-animation: bar-fill-javascript 2s ease-out;
    -webkit-animation: bar-fill-javascript 2s ease-out;
}

@keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@-moz-keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

@-webkit-keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}

/*Edit here for Jquery*/
.bar-fill-jquery {
    width: 70%;
    background-color: #10c9c3;
    animation: bar-fill-jquery 2s ease-out;
    -moz-animation: bar-fill-jquery 2s ease-out;
    -webkit-animation: bar-fill-jquery 2s ease-out;
}

@keyframes bar-fill-jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-moz-keyframes bar-fill-jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

@-webkit-keyframes bar-fill-jquery {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}

/*Edit here for Responsive*/
.bar-fill-responsive {
    width: 90%;
    background-color: #429f46;
    animation: bar-fill-responsive 2s ease-out;
    -moz-animation: bar-fill-responsive 2s ease-out;
    -webkit-animation: bar-fill-responsive 2s ease-out;
}

@keyframes bar-fill-responsive {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-moz-keyframes bar-fill-responsive {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes bar-fill-responsive {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}

.bar-fill-photoshop {
    width: 20%;
    background-color: #0a73dc;
    animation: bar-fill-photoshop 2s ease-out;
    -moz-animation: bar-fill-photoshop 2s ease-out;
    -webkit-animation: bar-fill-photoshop 2s ease-out;
}

@keyframes bar-fill-photoshop {
    0% {
        width: 0px;
    }

    100% {
        width: 20%;
    }
}

@-moz-keyframes bar-fill-photoshop {
    0% {
        width: 0px;
    }

    100% {
        width: 20%;
    }
}

@-webkit-keyframes bar-fill-photoshop {
    0% {
        width: 0px;
    }

    100% {
        width: 20%;
    }
}


.strip-section {
    position: relative;
    padding: 90px 0;
    background: var(--bg-color);
    color: #fff;
}

.strip-section .icons-title {
    display: flex;
    gap: 21px;
    align-items: center;
}

.strip-section .icons-title i {
    font-size: 48px;
}

.strip-section .icons-title .left-title p {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.strip-section .icons-title .left-title .top-text {
    font-size: 23px;
}

.our-work {
    position: relative;
    padding: 80px 0;
    background: #f5f5f5;
    text-align: center;
}

.our-work .box-1,
.box-2,
.box-3,
.box-4 {
    margin-bottom: 70px;
}

.our-work .box-work i {
    font-size: 50px;
    color: #797979;
}

.our-work .box-work p {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #797979;
}

.our-work .box-work h3 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 13px;
    color: #000;
    text-transform: uppercase;
}

.our-work .box-work i,
.our-work .box-work p,
.our-work .box-work h3,
.our-work .box-work img {
    margin-bottom: 20px;
}

/* .services {
    position: relative;
    padding: 80px 0;
    background: #ffffff;
    text-align: center;
}

.image_item {
    position: relative;
    width: 100%;
}

.bg_cover {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image_item {
    cursor: pointer;
    position: relative;
    text-align: center;

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            font-size: 34px;
            color: var(--color_1);
            width: 60px;
            height: 60px;
            line-height: 60px;
            background: #ffffff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
            transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

    }

    &:hover {
        .hover {
            opacity: 1;

            i {
                -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
                transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

        }
    }
} */

.portfolio {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
}

.port-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.port-title {
    text-align: center;
    max-width: 650px;
}

.port-title h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 15px;
    letter-spacing: 0.3px;
}

.port-title p {
    line-height: 25px;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 15px;
}

.portfolio .box {
    position: relative;
    width: 100%;
    height: 250px;
    background: #262626;
    overflow: hidden;
}

.portfolio .box img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 5s;
}

.portfolio .box:hover img {
    transform: scale(2);
}

.portfolio .box::before,
.portfolio .box::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    transition: 1s;
    z-index: 2;
}

.portfolio .box::before {
    transform: scale(1, 0);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.portfolio .box::after {
    transform: scale(0, 1);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.portfolio .box:hover::before,
.portfolio .box:hover::after {
    transform: scale(1, 1);
}

.portfolio .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.portfolio .box:hover .content {
    background: rgba(0, 0, 0, .7);
}

.portfolio .box .content .wrap {
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    z-index: 3;
}

.portfolio .box .content .wrap h1 {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    transform: translateY(-80px);
    opacity: 0;
    transition: 1s;
}

.portfolio .box:hover .content .wrap h1 {
    transform: translateY(0);
    opacity: 1;
}

.portfolio .box .content .wrap p {
    position: relative;
    font-size: 15px;
    transform: translateY(170px);
    opacity: 0;
    transition: .5s;
}

.portfolio .box:hover .content .wrap p {
    transform: translateY(0px);
    opacity: 1;
}

.contact-section {
    position: relative;
    padding: 80px 0;
    background: #f5f5f5;
}

.contact-section textarea,
.contact-section input {
    font-size: 14px;
    padding: 10px 15px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #f1f1f1;
    transition: all .3s ease;
}

.contact-section textarea:focus,
.contact-section input:focus {
    border-color: var(--text-color);
    outline: none;
    box-shadow: none;
}

.cont_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-section .about-title {
    text-align: center;
    max-width: 575px;
}

.footer-section {
    padding: 80px 0 0 0;
    position: relative;
    background: #222222;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    background-color: #222222;
    color: #fff;
    padding: 25px 0;
}

.footer-bottom p,
.footer-bottom ul li a {
    font-weight: 300 !important;
    font-size: 14px;
    color: #9b9b9b;
    text-align: left;
    margin-bottom: 0;
    transition: all .3s ease;
}

.footer-bottom ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-bottom .links {
    float: right;
}

.social {
    display: flex;
    gap: 15px;
}

.social a {
    font-size: 21px;
    color: #9b9b9b;
    margin-bottom: 0;
    transition: all .3s ease;
}


.social a:hover {
    color: #fff;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section a {
    font-weight: 500;
    font-size: 15px;
    color: #c9c9c9;
}

.footer-section .link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .3s ease;
}

.footer-section .link-box a:hover {
    color: #fff;
    text-decoration: underline;
}

@media(max-width: 576px) {
    .page-wrapper {
        display: none;
    }

    .banner {
        height: 50vh;
    }

    .banner h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .banner-title {
        font-size: 14px;
        background: #f7f7f7ab;
        margin-bottom: 30px;
    }

    .custom-btn {
        padding: 11px 30px;
        font-size: 12px;
        min-width: 150px;
        margin-top: 0px;
    }

    .about-title h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .about-me,
    .profesion-skill,
    .strip-section,
    .our-work,
    .portfolio,
    .contact-section,
    .footer-section {
        padding: 50px 0
    }

    .our-work .box-1,
    .box-2,
    .box-3,
    .box-4 {
        margin-bottom: 0px;
    }

    .our-work .row {
        --bs-gutter-y: 2rem !important;
    }

    .profesion-skill {
        height: 50vh;
    }

    .about-title p {
        font-size: 14px;
    }

    .profesion-skill h2 {
        font-size: 30px;
    }

    .strip-section .icons-title {
        margin-bottom: 30px;
    }

    .strip-section .end-icon {
        margin-bottom: 0;
    }

    .port-title p {
        font-size: 14px;
    }

    .port-title h2 {
        font-size: 30px;
    }

    .port-title {
        text-align: center;
        max-width: 350px;
    }

    .footer-section h3 {
        font-size: 16px;
    }

    .footer-section p,
    .footer-section a {
        font-weight: 500;
        font-size: 14px;
    }

    .footer-section .link-box {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .footer-section .link-box .info-1 li,
    .footer-section .link-box .info-2 li {
        margin-bottom: 5px;
    }

    .footer-bottom p {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer-bottom .links {
        float: none;
    }

    .social {
        justify-content: center;
    }
}